.form {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: start;
}

.sectionWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  border: 1px solid var(--gray);
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.title {
  font-weight: 400;
  font-size: 18px;
}

.reqiered {
  color: var(--accent-red);
}

.error {
  font-weight: 300;
  font-size: 16px;
  color: var(--accent-red);
}

.description {
  font-weight: 300;
  font-size: 16px;
  color: var(--dark-gray);
}

.planWrapper {
  width: 100%;
  padding: 16px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 6px;
  border: 0.5px solid var(--dark-gray);

  font-weight: 300;
  font-size: 16px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.text {
  font-size: 16px;
}

.redIcon {
  fill: var(--accent-red);
}

.greenIcon {
  fill: var(--accent-green);
}

.infoBtn {
  display: flex;
  align-items: center;
}

.infoIcon {
  fill: var(--dark-gray);
}

.methodWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
}

.accentTextRed {
  color: var(--accent-red);
  font-weight: 500;
}

.divider {
  width: 100%;
  display: block;
  height: 1px;
  background-color: var(--dark-gray);
}

.shortInputs {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 12px;
}

.accentContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  border: 1px solid #92ffd2;
  background-color: #e9fff6;
  border-radius: 12px;
  padding: 20px;
}

.additionalDesc {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  color: #6b6b6b;
}

.accentTextGreen {
  color: #2cb67d;
}

.dividerGreen {
  background-color: #2cb67d;
}

.fileWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid var(--dark-gray);
  background-color: var(--gray);
  border-radius: 12px;
  padding: 12px 24px;
}

.fileInput {
  align-self: center;
  border-radius: 0;
}
