.container {
  max-width: 472px;
  padding: 40px;
  border: 1px solid rgba(36, 74, 91, 0.6);
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-weight: 500;
  font-size: 24px;
}

.lightTitle {
  font-weight: 400;
}

.reviewsWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rate {
  font-weight: 400;
  font-size: 16px;
}

.reviewsBtn {
  font-weight: 300;
  font-size: 16px;
  text-decoration: underline;
}

.classWrapper {
  padding: 8px 16px;
  border: 1px solid var(--navi-blue);
  border-radius: 50px;
}

.carClass {
  font-size: 16px;
}
