.table {
  width: 100%;
  border-spacing: 0 8px;
}

.tableTitle {
  font-weight: 400;
  font-size: 18px;
}

th {
  text-align: right;
}

th:first-child {
  text-align: left;
}

td {
  text-align: right;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

td:first-child {
  text-align: left;
}

.tableSeparator {
  height: 1px;
  border: none;
  padding: 0;
  background-color: var(--navi-blue);

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.selectBtn {
  padding: 18px 56px;
  border-radius: 50px;
  background-color: var(--navi-blue);

  font-weight: 400;
  font-size: 20px;
  color: var(--white);
}
