.container {
  padding: 64px 148px;
  width: 65%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.title {
  font-size: 24px;
  margin-bottom: 0;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.inputsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.btnWrapper {
  width: 100%;
}

.submitBtn {
  width: 100%;
  border-radius: 32px;
  padding: 16px 0;
  background: var(--navi-blue);
  margin-bottom: 18px;

  font-weight: 400;
  font-size: 18px;
  color: var(--white);
}

.submitBtn:hover {
  background: var(--navi-blue-hover);
}

.linkText {
  font-weight: 400;
  font-size: 18px;
  color: #6b6b6b;
}

.link {
  text-decoration: underline;
  color: var(--navi-blue);
}

.link:hover {
  color: var(--navi-blue-hover);
}

@media only screen and (max-width: 1028px) {
  .container {
    padding: 64px 100px;
  }
}
