.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: left;
}

.title {
  font-weight: 500;
  font-size: 20px;
}

.ratingWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rate {
  font-weight: 400;
  font-size: 16px;
}
