.container {
  position: sticky;
  top: 72px;
  height: fit-content;
  max-width: 430px;
  padding: 32px;
  border: 1px solid var(--dark-gray);
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.title {
  text-wrap: nowrap;
  font-weight: 500;
  font-size: 20px;
}

.lightTitle {
  font-weight: 400;
}

.classWrapper {
  padding: 4px 12px;
  border: 1px solid var(--navi-blue);
  border-radius: 50px;
}

.carClass {
  font-size: 14px;
}

.image {
  margin: auto;
  width: 75%;
  max-width: 300px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--dark-gray);
}

.priceWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-weight: 400;
  font-size: 15px;
  text-align: left;
}

.bold {
  font-weight: 500;
  font-size: 15px;
}

.accentGreen {
  color: var(--accent-green);
}

.accentRed {
  color: var(--accent-red);
}

.total {
  font-weight: 500;
  font-size: 18px;
}

.bookBtn {
  width: 100%;
  padding: 12px 8px;
  border-radius: 24px;
  background-color: var(--navi-blue);

  color: var(--white);
  font-size: 18px;
  font-weight: 300px;

  transition: background-color 300ms linear;
}

.bookBtn:hover {
  background-color: var(--navi-blue-hover);
}

.inputWrapper {
  display: flex;
  justify-content: baseline;
  align-items: start;
  gap: 12px;
}

.label {
  text-align: left;
  font-size: 16px;
}

@media only screen and (max-width: 1040px) {
  .container {
    max-width: 700px;
  }
}
