.container {
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: end;

  border-radius: 12px;
  background-color: var(--gray);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.mainTitle {
  font-weight: 500;
  font-size: 16px;
}

.title {
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

.text {
  font-weight: 300;
  font-size: 16px;
}

.basicBtn {
  border-radius: 24px;
  padding: 8px 32px;
  background-color: var(--navi-blue);
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  transition: background-color 300ms ease;
}

.basicBtn:hover {
  background-color: var(--navi-blue-hover);
}

.basicBtn:disabled {
  background-color: var(--dark-gray);
}

.transBtn {
  border: 1px solid var(--navi-blue);
  border-radius: 24px;
  padding: 8px 32px;
  font-weight: 400;
  font-size: 16px;
  color: var(--navi-blue);
  transition: background-color 300ms ease;
}

.transBtn:hover {
  background-color: rgba(36, 74, 91, 0.1);
}

@media only screen and (max-width: 767px) {
  .container {
    flex-wrap: wrap;
    gap: 24px;
  }

  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
