.slick-slide {
  padding: 24px;
  opacity: 0.5;

  transform: scale(0.9);
  transition: transform 500ms linear;
}

.slick-center {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  transform: scale(1.25);

  opacity: 1;
}

.slick-center + .slick-slide,
.slick-slide:has(+ .slick-center) {
  transform: scale(1.1);
  opacity: 0.8;

  transition: transform 500ms linear;
}

.slick-center + .slick-slide {
  padding-right: 0px;
}

.slick-slide:has(+ .slick-center) {
  padding-left: 0px;
}

.slick-next::before {
  font-size: 32px;
}

.slick-prev::before {
  font-size: 32px;
}

@media only screen and (max-width: 1240px) {
  .slick-slide {
    padding: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .slick-slide {
    padding: 32px 64px;
  }
}
