.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 12px;
}

.label {
  font-weight: 300;
  font-size: 18px;
}

.reqiered {
  font-weight: 400;
  font-size: 16px;
  color: #ff016c;
}

.field {
  width: 100%;
  border: 1px solid var(--dark-gray);
  border-radius: 12px;
  padding: 12px 24px;
  background-color: transparent;

  font-weight: 400;
  font-size: 16px;
}

.field::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-gray);
}

.error {
  font-weight: 300;
  font-size: 16px;
  color: var(--accent-red);
}
