.container {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 12px 32px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.desktopMenu {
  display: block;
}

.menuButton {
  display: none;
}

@media only screen and (max-width: 767px) {
  .desktopMenu {
    display: none;
  }

  .menuButton {
    display: block;
  }
}
