.container {
  display: flex;
  gap: 32px;
}

.navList {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 2px 8px;
  border-radius: 8px;
  transition: background-color 300ms linear;
}

.link {
  font-weight: 300;
  font-size: 18px;

  transition: color 300ms linear;
}

.hashLink {
  color: var(--black);
  font-weight: 300;
  font-size: 18px;
}

.linkBlack {
  color: var(--black);
}

.linkBlack:hover {
  color: var(--white);
}

.item:has(.linkBlack:hover) {
  background-color: var(--navi-blue);
}

.linkWhite {
  color: var(--white);
}

.linkWhite:hover {
  color: var(--navi-blue);
}

.item:has(.linkWhite:hover) {
  background-color: var(--white);
}

.activeBlue {
  color: var(--white);
}

.item:has(.activeBlue) {
  background-color: var(--navi-blue);
}

.activeWhite {
  color: var(--navi-blue);
}

.item:has(.activeWhite) {
  background-color: var(--white);
}

.auth {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 18px;
  color: var(--navi-blue);
}

.link {
  font-size: 18px;
}

.closeButton {
  display: none;
}

@media only screen and (max-width: 767px) {
  .container {
    position: fixed;
    inset: 0; /* короткий запис для top:0; right:0; bottom:0; left:0 */
    width: 100%;
    height: 100vh;
    z-index: 1000;

    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    padding: 64px;
    background-color: var(--navi-blue);

    transform: translateX(0);
  }

  .container.hidden {
    transform: translateX(100%);
  }

  .navList {
    flex-direction: column;
    align-items: start;
  }

  .hashLink {
    color: var(--white);
  }

  .auth {
    color: var(--white);
  }

  .closeButton {
    display: block;
    position: absolute;
    right: 24px;
    top: 24px;
    color: var(--white);
  }
}
