.container {
  width: calc(100vw - 300px);
  left: 300px;
  position: relative;
}

.mainWrarpper {
  overflow-y: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.title {
  font-weight: 400;
  font-size: 18px;
  color: var(--navi-blue);
  margin-bottom: 8px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-gray);
  text-align: left;
}

.divider {
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--gray);
}

@media only screen and (max-width: 767px) {
  .container {
    left: 220px;
    width: calc(100vw - 220px);
  }
}

@media only screen and (max-width: 575px) {
  .container {
    width: 100%;
    left: 0;
    position: unset;
  }
}
