.wrapper {
  width: 100%;
  display: flex;
  gap: 24px;
}

.inputWrapper {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(36, 74, 91, 0.6);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;

  font-size: 20px;
  color: var(--navi-blue);
}

.dateInput {
  width: 100%;
  font-weight: 300;
  font-size: 16px;
}

@media only screen and (max-width: 530px) {
  .wrapper {
    flex-direction: column;
  }
}
